websockify for sip over websocket

Im trying to use websockify to transport sip over wss to tcp. But getting code 400, invalid protocol when client trying to connects over the websocket. Below is my run options and the error. Does this mean we cant use websockify for sip over websocket transport ?

Client shows as error during websocket handshake.

root@pms:/usr/src/websockify# ./run --cert=cert/pms.crt --key=cert/pms.key 251.180.138.10:10443 251.180.138.10:5060 --web=cert/
websockify/websocket.py:30: UserWarning: no 'numpy' module, HyBi protocol will be slower
  warnings.warn("no 'numpy' module, HyBi protocol will be slower")
WebSocket server settings:
  - Listen on 251.180.138.10:10443
  - Web server. Web root: /usr/src/websockify/cert
  - SSL/TLS support
  - proxying from 251.180.138.10:10443 to 251.180.138.10:5060
61.145.69.163 - - [23/Apr/2020 06:48:22] code 400, message Invalid protocol selected
61.145.69.163 - - [23/Apr/2020 06:48:26] code 400, message Invalid protocol selected
61.145.69.163 - - [23/Apr/2020 06:48:32] code 400, message Invalid protocol selected

That should work fine. But websockify currently only accepts the subprotocol "binary" or no subprotocol at all (the latter being preferred). So it looks like your JavaScript code is requesting something different.

You'll need to change either websockify or the JavaScript code to make sure the subprotocols match. Then it should hopefully work fine.

Thanks for the reply. May i seek some advise to get this changed in websockify ?

My javascript client does the handshake as per RFC7118 and expect sip sub protocol switching as below. May I please know how to get this changed in websockify ?


---RFC 7118----
The SIP WebSocket Client and SIP WebSocket Server negotiate usage of
   the WebSocket SIP subprotocol during the WebSocket handshake
   procedure as defined in Section 1.3 of [RFC6455].  The client MUST
   include the value "sip" in the Sec-WebSocket-Protocol header in its
   handshake request.  The 101 reply from the server MUST contain "sip"
   in its corresponding Sec-WebSocket-Protocol header.

      The WebSocket client initiates a WebSocket connection when
      attempting to send a SIP request (unless there is an already
      established WebSocket connection for sending the SIP request).  In
      case there is no HTTP 101 response during the WebSocket handshake,
      it is considered a transaction error as per [RFC3261],
      Section 8.1.3.1., "Transaction Layer Errors".

   Below is an example of a WebSocket handshake in which the client
   requests the WebSocket SIP subprotocol support from the server:

     GET / HTTP/1.1
     Host: sip-ws.example.com
     Upgrade: websocket
     Connection: Upgrade
     Sec-WebSocket-Key: dGhlIHNhbXBsZSBub25jZQ==
     Origin: http://www.example.com
     Sec-WebSocket-Protocol: sip
     Sec-WebSocket-Version: 13

   The handshake response from the server accepting the WebSocket SIP
   subprotocol would look as follows:

     HTTP/1.1 101 Switching Protocols
     Upgrade: websocket
     Connection: Upgrade
     Sec-WebSocket-Accept: s3pPLMBiTxaQ9kYGzzhZRbK+xOo=
     Sec-WebSocket-Protocol: sip

   Once the negotiation has been completed, the WebSocket connection is
   established and can be used for the transport of SIP requests and
   responses.  Messages other than SIP requests and responses MUST NOT
   be transmitted over this connection.

You would need to change this section:

https://github.com/novnc/websockify/blob/86a20b23f5b099e3cd484620a1f456ba9fb625d7/websockify/websockifyserver.py#L47-L53

Given that description though it sounds like websockify might not work. It sounds like it requires a server that properly understands SIP, which websockify does not. So I'm afraid you'll have to find something that is written with RFC 7118 in mind.

Thanks a lot Pierre,

Yes, i did fixed the sub protocol as you mentioned, and websocket started
working. But the sip proxy doesnt seems understanding whats coming through.

We would need some thing build with SIP in mind.

Thanks again for your help.
-Nik

On Mon, Apr 27, 2020 at 11:04 AM Pierre Ossman (Work account) <
notifications@github.com> wrote:

> You would need to change this section:
>
>
> https://github.com/novnc/websockify/blob/86a20b23f5b099e3cd484620a1f456ba9fb625d7/websockify/websockifyserver.py#L47-L53
>
> Given that description though it sounds like websockify might not work. It
> sounds like it requires a server that properly understands SIP, which
> websockify does not. So I'm afraid you'll have to find something that is
> written with RFC 7118 in mind.
>
> —
> You are receiving this because you authored the thread.
> Reply to this email directly, view it on GitHub
> <https://github.com/novnc/websockify/issues/432#issuecomment-619732663>,
> or unsubscribe
> <https://github.com/notifications/unsubscribe-auth/APE2EZTP2S3U7USOZ2VF6FLROUKO5ANCNFSM4MOYKPAQ>
> .
>
